<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Images/IconGap.png" type="image/png" />
    <title>Policy GAP</title>
    @*CSS*@
    <link href="~/Styles/Frameworks/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/Frameworks/datatables.min.css" rel="stylesheet" />
    <link href="~/Styles/Project/Site.css" rel="stylesheet" />

    @*Scripts*@
    <script src="~/Scripts/FrameWorks/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/FrameWorks/bootstrap.min.js"></script>
    <script src="~/Scripts/FrameWorks/datatables.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h4>
                    <img src="~/Images/IconGap.png" /> @Html.ActionLink("Policy Control - GAP", "Index", "home")
                </h4>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                    <li>@Html.ActionLink("Policys", "Index", "Policy")</li>
                    <li>@Html.ActionLink("Policy Types", "Index", "PolicyType")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&#64; Policy Gap Control - 2020</p>
        </footer>
    </div>
</body>
</html>
